*.DS_Store
*.spec
*.pyc
*.pyo
*.egg-info/
*/__pycache__/
*/scratch.py
build/
dist/
.pyenv
.vscode/*
.sync-exclude.lst
aimhelper/aimhelper-0.50-py3-none-any.whl
aimhelper/aimhelper-0.50.tar.gz
logging
aimhelper/aimhelper-0.50-py3-none-any.whl
aimhelper/aimhelper-0.50.tar.gz
